.body {
    background-color: #F7E4D3;
}

.container {
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.rectangle1 {
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #585858;
    position: absolute;
    top: 360px;
}

.rectangle2 {
    position: relative; /* Для позиционирования круга относительно прямоугольника */
    width: 100px;
    height: 200px;
    background-color: #ED7914;
    border: 2px solid #333;
    margin: 20px;
}

.rectangle3 {
    position: relative; /* Для позиционирования круга относительно прямоугольника */
    width: 100px;
    height: 200px;
    background-color: #ED7914;
    border: 2px solid #333;
    margin: 20px;

}

.rectangle4{
    position: relative; /* Для позиционирования круга относительно прямоугольника */
    width: 100px;
    height: 200px;
    background-color: #ED7914;
    border: 2px solid #333;
    margin: 20px;
}
.rectangle5 {
    position: relative; /* Для позиционирования круга относительно прямоугольника */
    width: 80px;
    height: 120px;
    background-color: #ED7914;
    border: 2px solid #333;
    margin: 20px;
    top:45px;
}

.rectangle6{
    position: relative;
    width: 350px;
    height: 100px;
    background-color: rgb(240, 249, 255);
    border: 1px solid #000000;
    left: 180px;
    top: 250px;
}

.rectangle7{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #f0f0f0;
    border: 2px solid #333;
    left: 736px;
    bottom: 70px;
}

.rectangle8{
    position: relative; /* Для позиционирования круга относительно прямоугольника */
    width: 100px;
    height: 200px;
    left: 220px;
    background-color: #ED7914;
    border: 2px solid #333;
    margin: 20px;

}

.rectangle9{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 239, 237);
    border: 1px solid #333333;
    left: 265px;
    top: 250px;
}

.rectangle10{
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #f0f0f0;
    border: 2px solid #333;
    left: 1325px;
    top: 258px;
}

.rectangle11{
    position: relative;
    background-color: #ff9362;
    width: 10px;
    height: 70px;
    left: 65px;
    bottom: 140px;
}

.rectangle12{
    position: relative;
    background-color: #ff9362;
    width: 10px;
    height: 70px;
    left: 210px;
    bottom: 210px;
}

.rectangle13{
    position: relative;
    background-color: #000000;
    width: 44px;
    height: 10px;
    bottom: 410px;
    left:410px;
}

.rectangle14 {
    position: relative;
    background-color: #ff9362;
    width: 150px;
    height: 10px;
    bottom: 420px;
    left: 536px;
}

.rectangle15 {
    position: relative;
    background-color: #ff9362;
    width: 10px;
    height: 160px;
    bottom: 430px;
    left:685px;
}

.rectangle16 {
    position: relative; /* Для позиционирования круга относительно прямоугольника */
    width: 100px;
    height: 200px;
    left: 300px;
    background-color: #ED7914;
    border: 2px solid #333;
    margin: 20px;
}

.rectangle17 {
    position: relative; /* Для позиционирования круга относительно прямоугольника */
    width: 100px;
    height: 200px;
    left: 330px;
    background-color: #ED7914;
    border: 2px solid #333;
    margin: 20px;
}

.rectangle18 {
    position: relative;
    background-color: #ff9362;
    width: 90px;
    height: 10px;
    bottom: 540px;
    left: 536px;
}

.rectangle19 {
    position: relative;
    background-color: #ff9362;
    width: 10px;
    height: 100px;
    bottom: 540px;
    left: 616px;
}

.rectangle20{
    position: relative;
    background-color: #ff9362;
    width: 10px;
    height: 70px;
    left: 353px;
    bottom: 570px;
}

.rectangle21{
    position: absolute;
    background-color: black;
    width: 30px;
    height: 70px;
    left: 486px;
    bottom: 680px;
}

.rectangle22{
    position: absolute;
    background-color: black;
    width: 40px;
    height: 20px;
    left: 1187px;
    bottom: 695px;
}

.rectangle23{
    position: relative;
    background-color: #ff9362;
    width: 10px;
    height: 60px;
    left: 1194px;
    bottom: 622px;
}

.rectangle24{
    position: relative;
    background-color: #000000;
    width: 15px;
    height: 30px;
    left: 1517px;
    bottom: 700px;
}

.rectangle25{
    position: absolute;
    background-color: #ff9362;
    border: 2px solid #000000;
    width: 65px;
    height: 45px;
    left: 1500px;
    bottom: 635px;
}

.rectangle26{
    position: relative;
    background-color: #ff9362;
    width: 10px;
    height: 60px;
    left: 1675px;
    bottom: 730px;
}

.button-red1{
    position: absolute;
    width: 25px;
    height: 25px;
    background: #b10202;
    border-radius: 50%;
    top: 35px; /* Смещение на половину размера круга */
    left: 35px; /* Смещение на половину размера круга */
    border: 1px solid #333;
}

.button-red2{
    position: absolute;
    width: 25px;
    height: 25px;
    background: #b10202;
    border-radius: 50%;
    top: 35px; /* Смещение на половину размера круга */
    left: 180px; /* Смещение на половину размера круга */
    border: 1px solid #333;
}

.button-red3{
    position: absolute;
    width: 25px;
    height: 25px;
    background: #b10202;
    border-radius: 50%;
    top: 35px; /* Смещение на половину размера круга */
    left: 325px; /* Смещение на половину размера круга */
    border: 1px solid #333;
}

.button-red4{
    position: absolute;
    width: 25px;
    height: 25px;
    background: #b10202;
    border-radius: 50%;
    top: 80px; /* Смещение на половину размера круга */
    left: 470px; /* Смещение на половину размера круга */
    border: 1px solid #333;
}

.button-red5{
    position: absolute;
    width: 25px;
    height: 25px;
    background: #b10202;
    border-radius: 50%;
    top: 267px; /* Смещение на половину размера круга */
    left: 752px; /* Смещение на половину размера круга */
    border: 1px solid #333;
}

.button-red6{
    position: absolute;
    width: 25px;
    height: 25px;
    background: #b10202;
    border-radius: 50%;
    top: 35px; /* Смещение на половину размера круга */
    left: 1165px; /* Смещение на половину размера круга */
    border: 1px solid #333;
}

.button-red7{
    position: absolute;
    width: 25px;
    height: 25px;
    background: #b10202;
    border-radius: 50%;
    top: 264px; /* Смещение на половину размера круга */
    left: 1331px; /* Смещение на половину размера круга */
    border: 1px solid #333;
}

.button-red8{
    position: absolute;
    width: 25px;
    height: 25px;
    background: #b10202;
    border-radius: 50%;
    top: 35px; /* Смещение на половину размера круга */
    left: 1490px; /* Смещение на половину размера круга */
    border: 1px solid #333;
}

.button-red9{
    position: absolute;
    width: 25px;
    height: 25px;
    background: #b10202;
    border-radius: 50%;
    top: 35px; /* Смещение на половину размера круга */
    left: 1665px; /* Смещение на половину размера круга */
    border: 1px solid #333;
}


div.employee{
    img{
        position:absolute;
        width: 220px;
        height: 350px;
        top: 450px;
        left: 1650px;
    }
}

.nozzle {
    width: 30px;
    height: 30px;
    background: #3498db;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.snowflake {
    position: absolute;
    animation: blink 1s infinite;
    font-size: 15px;
    bottom: 663px;

}

@keyframes blink {
    50% { opacity: 0.3; }
}

@media (max-width: 2800px) {
    .rectangle21{
        bottom: 687px;
    }
    .rectangle22{
        bottom: 703px;
    }
    .rectangle25{
        bottom: 644px;
    }
}
.conveyor-belt {
    position: relative;
    height: 60px;
    margin: 15px 0;
    overflow: hidden;
    border-radius: 3px;
    bottom: 677px;
}

/* Полосы конвейера с анимацией */
.conveyor-belt::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: repeating-linear-gradient(
            90deg,
            #ff9362 0px,
            #ff9362 15px,
            rgb(255, 239, 237) 15px,
            rgb(255, 239, 237) 30px
    );
    animation: moveBelt 35s linear infinite;
}

/* Анимация движения ленты */
@keyframes moveBelt {
    100% { transform: translateX(0); }
    0% { transform: translateX(-50%); }
}

.ingredients1{
    position: absolute;
    background-color: #ED7914;
    border: 1px solid #000000;
    width: 150px;
    height: 30px;
    bottom: 450px;
}

.ingredients2{
    position: absolute;
    background-color: #ED7914;
    border: 1px solid #000000;
    width: 150px;
    height: 30px;
    bottom: 390px;
}

.ingredients3{
    position: absolute;
    background-color: #ED7914;
    border: 1px solid #000000;
    width: 150px;
    height: 30px;
    bottom: 330px;
}

.mixer1{
    position: absolute;
    background-color: #ED7914;
    border: 1px solid #000000;
    width: 150px;
    height: 30px;
    bottom: 450px;
    left: 225px;
}

.mixer2{
    position: absolute;
    background-color: #ED7914;
    border: 1px solid #000000;
    width: 150px;
    height: 30px;
    bottom: 390px;
    left: 225px;
}

.mixer3{
    position: absolute;
    background-color: #ED7914;
    border: 1px solid #000000;
    width: 150px;
    height: 30px;
    bottom: 330px;
    left: 225px;
}

.preparation1{
    position: absolute;
    background-color: #ED7914;
    border: 1px solid #000000;
    width: 190px;
    height: 30px;
    bottom: 450px;
    left: 430px;
}

.preparation2{
    position: absolute;
    background-color: #ED7914;
    border: 1px solid #000000;
    width: 200px;
    height: 30px;
    bottom: 390px;
    left: 425px;
}

.preparation3{
    position: absolute;
    background-color: #ED7914;
    border: 1px solid #000000;
    width: 210px;
    height: 30px;
    bottom: 330px;
    left: 420px;
}

.molding1{
    position: absolute;
    background-color: #ED7914;
    border: 1px solid #000000;
    width: 150px;
    height: 30px;
    bottom: 450px;
    left: 675px;
}

.molding2{
    position: absolute;
    background-color: #ED7914;
    border: 1px solid #000000;
    width: 150px;
    height: 30px;
    bottom: 390px;
    left: 675px;
}

.molding3{
    position: absolute;
    background-color: #ED7914;
    border: 1px solid #000000;
    width: 150px;
    height: 30px;
    bottom: 330px;
    left: 675px;
}

.cooling1{
    position: absolute;
    background-color: #ED7914;
    border: 1px solid #000000;
    width: 150px;
    height: 30px;
    bottom: 450px;
    left: 900px;
}

.cooling2{
    position: absolute;
    background-color: #ED7914;
    border: 1px solid #000000;
    width: 150px;
    height: 30px;
    bottom: 390px;
    left: 900px;
}

.cooling3{
    position: absolute;
    background-color: #ED7914;
    border: 1px solid #000000;
    width: 150px;
    height: 30px;
    bottom: 330px;
    left: 900px;
}

.remove1{
    position: absolute;
    background-color: #ED7914;
    border: 1px solid #000000;
    width: 150px;
    height: 30px;
    bottom: 450px;
    left: 1125px;
}

.remove2{
    position: absolute;
    background-color: #ED7914;
    border: 1px solid #000000;
    width: 150px;
    height: 30px;
    bottom: 390px;
    left: 1125px;
}

.remove3{
    position: absolute;
    background-color: #ED7914;
    border: 1px solid #000000;
    width: 170px;
    height: 30px;
    bottom: 330px;
    left: 1115px;
}

.drying1{
    position: absolute;
    background-color: #ED7914;
    border: 1px solid #000000;
    width: 150px;
    height: 30px;
    bottom: 450px;
    left: 1350px;
}

.drying2{
    position: absolute;
    background-color: #ED7914;
    border: 1px solid #000000;
    width: 150px;
    height: 30px;
    bottom: 390px;
    left: 1350px;
}

.drying3{
    position: absolute;
    background-color: #ED7914;
    border: 1px solid #000000;
    width: 150px;
    height: 30px;
    bottom: 330px;
    left: 1350px;
}

.packaging1{
    position: absolute;
    background-color: #ED7914;
    border: 1px solid #000000;
    width: 150px;
    height: 30px;
    bottom: 240px;
    left: 560px;
}

.packaging2{
    position: absolute;
    background-color: #ED7914;
    border: 1px solid #000000;
    width: 150px;
    height: 30px;
    bottom: 180px;
    left: 560px;
}

.packaging3{
    position: absolute;
    background-color: #ED7914;
    border: 1px solid #000000;
    width: 150px;
    height: 30px;
    bottom: 120px;
    left: 560px;
}

.sticker1{
    position: absolute;
    background-color: #ED7914;
    border: 1px solid #000000;
    width: 150px;
    height: 30px;
    bottom: 240px;
    left: 790px;
}

.sticker2{
    position: absolute;
    background-color: #ED7914;
    border: 1px solid #000000;
    width: 150px;
    height: 30px;
    bottom: 180px;
    left: 790px;
}

.sticker3{
    position: absolute;
    background-color: #ED7914;
    border: 1px solid #000000;
    width: 150px;
    height: 30px;
    bottom: 120px;
    left: 790px;
}
